In [14]:
import pandas as pd
import numpy as np
import pickle

In [21]:
# Show dataset sample
dataset = pd.read_csv("dataset.csv")
FILE_NAME = 'random_forest_model.sav'
random_forest_classifier = pickle.load(open(FILE_NAME, 'rb'))

In [22]:
# get the X data
X = dataset.iloc[:, 0:18]
X.head(5)

,Realistic,Investigate,Artistic,Social,Enterprising,Conventional,Linguistic,Logical-mathematical,Spatial,Bodily-Kinesthetic,Musical,Interpersonal,Intrapersonal,Naturalistic,MATH,ENG,SCI,SOC-SCI
0,3,2,3,1,4,4,4,5,5,5,6,3,5,6,86,81,84,87
1,5,7,6,3,2,6,1,1,2,1,1,2,1,3,90,90,88,87
2,4,3,2,4,2,4,4,4,4,3,2,1,5,4,92,91,89,89
3,4,0,1,6,4,6,2,3,4,5,3,5,6,3,90,92,91,90
4,4,4,1,2,1,4,2,6,5,1,5,3,2,3,92,90,89,88

In [23]:
# get the Y data
Y = dataset.iloc[:, 18]
Y.head(5)

0    1
1    1
2    1
3    1
4    1
Name: CLASS, dtype: int64

In [24]:
y_pred = random_forest_classifier.predict(X)

In [25]:
from sklearn.metrics import classification_report, accuracy_score

In [27]:
map_strand = {
    1: "STEM",
    2: "HUMSS",
    3: "ABM",
    4: "GAS"
}


def from_int_to_strand(strand_integers):
    y_strands = []
    for strand in strand_integers:
        y_strands.append(map_strand[strand])

    return y_strands


mapped_y_test = from_int_to_strand(Y)
mapped_y_pred = from_int_to_strand(y_pred)

pd.crosstab(mapped_y_test, mapped_y_pred, rownames=["Actual Strands"], colnames=["Predicted Species"])

Predicted Species  ABM  GAS  HUMSS  STEM
Actual Strands
ABM                125    0      0     0
GAS                  0  121      4     0
HUMSS                0    0    125     0
STEM                 3    1      0   121

In [28]:
print(classification_report(mapped_y_test, mapped_y_pred))
print("Accuracy:", accuracy_score(mapped_y_test, mapped_y_pred))

              precision    recall  f1-score   support

         ABM       0.98      1.00      0.99       125
         GAS       0.99      0.97      0.98       125
       HUMSS       0.97      1.00      0.98       125
        STEM       1.00      0.97      0.98       125

    accuracy                           0.98       500
   macro avg       0.98      0.98      0.98       500
weighted avg       0.98      0.98      0.98       500

Accuracy: 0.984